# version: '3.8'
services:
  backend:
    build: .
    env_file: .env
    ports:
      - '5000:5000'
    depends_on:
      - mongo
      - redis
    restart: unless-stopped
  mongo:
    image: mongo:6
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db
  redis:
    image: redis:7
    ports:
      - '6379:6379'

volumes:
  mongo-data:
